<div class="page-bio">
	<div class="text-block">
		<p>
      Sylvia Luchez studied English literature and visual art at the University of Chicago and holds a master’s degree in art education from DePaul University.
      Sylvia makes art, tutors students, and teaches summer art classes at her local high school.
      Her work has been exhibited at the Second Fridays Gallery Walk and at the Co-Prosperity Sphere in Chicago.
    </p>
		<div class="picture-holder">
			<img src="assets/images/sylvia_bio_604x453.jpg" class="responsive" />
		</div>
	</div>
</div>