<div class="page-statement">
	<div class="text-block">
		<p>
			My work is about embracing feelings of difference, marginalization, brokenness, and imperfection.
      It draws from a tradition of art-making inspired by gratitude for the expansiveness and mysteries of the natural environment.
      I express what I think and feel in each moment through the experimental interaction of colors, lines, shapes, and textures.
      I am interested in transparency and opacity, absence and presence, the creation of depth through layering, and the expression of complex thoughts and feelings using simple materials and methods.
		</p>
	</div>
</div>
