<div class="page-statement">
	<div class="text-block">
		<p>
			I organize my thoughts and feelings through the art-making process.
			I am interested in reviving the experience of childhood through my process, recreating feelings of freedom and giving myself permission to dream.
			My point of departure is my personal history and inner monologue, and all of the emotions that come with these memories and thoughts.
			My work is about the pull of my inner child at the same time as it is about my adult experience of existing in a competitive, dynamic world.
		</p>
		<p>
			<i>Equilibrium</i> is about my various cultural identities.
			The balancing spheres are planets of cultural knowledge that exist together simultaneously and harmoniously.
			There is wisdom and beauty in all of my experiences and cultural knowledges.
		</p>
		<p>
			My paintings are about freedom and hope.
			They are a visual combination of structure that is predictable and secure, and natural forces that are unpredictable and novel.
			Recreating images of natural beauty in a spontaneous and authentic way builds my faith and confidence in an order that will regulate itself and always return to equilibrium.
		</p>
	</div>
</div>