
/* Main Styles */
html { min-height: 100%; position: relative; margin: 0; }
body { margin: 0; _font-family: Tahoma; }
.no-wrap { white-space: nowrap; }
a, h1, h2, h3, .color, .navbar .navbar-brand, .navbar-nav>li a { color: #000; }
.navbar-brand { padding-right: 0; }
h1 { font-size: 32px; border-bottom: 1px solid #43853D; padding-bottom: 3px; margin-left: 10px; margin-right: 10px; }
h2 { font-size: 26px; padding-left: 5px; }
h3 { font-size: 21px; padding-left: 5px; }
h1 span, h2 span, h3 span { font-style: italic; font-size: 75%; }
a:visited { text-decoration: none; }
a:hover { color: #555; transition: color 0.5s; }
ul { padding: 0; list-style-type: none; }
.navbar-nav > li > a { font-variant: small-caps; }

.block { padding: 0 10px 5px; }
.text-block { padding: 0 10px; text-align: justify; max-width: 760px; margin: 0 auto; }
img.responsive { display: inline-block; max-width: 100%; height: auto; }
.image-title { font-weight: bold; font-size: 120%; padding: 5px; display: block; text-align: center; }


.page-home .main-img-holder { text-align: center; }
.page-home .main-img-holder span { display: block; padding: 5px 15px; }
.page-bio .picture-holder { margin: 10px 0; text-align: center; }
.page-projects ul > li { text-align: center; }
.page-projects ul > li img { max-height: 320px; transition: opacity .4s ease; -webkit-transform: translateZ(0); /* Chrome bug */ }
/* .page-projects ul > li span:before { display: table; content: " "; height: 1px; } */
.page-projects ul > li span { display: block; padding: 3px; }
.page-view-project ul.thumbs-group li a { display: inline-block; margin: 10px; position: relative; }
.page-view-project ul.thumbs-group li a span { display: block; position: absolute; bottom: 0; left: 0; right: 0; text-align: center;
	background-color: #111; color: white; padding: 3px 5px; opacity: 0; }
.page-view-project ul.thumbs-group li a span, .page-view-project ul.thumbs-group li a img {
	transition: opacity .4s ease; -webkit-transform: translateZ(0); /* Chrome bug */ }
.page-view-project-image .image-holder { text-align: center; position: relative; }
.page-view-project-image .image-holder img { max-width: 100%; cursor: move; }
.page-view-project-image .image-holder .img-nav { position: absolute; top: 0; bottom: 0; background-color: rgba(64,64,64,0.3); opacity: 0.3; text-decoration: none;
	display: flex; flex-direction: column; justify-content: center; transition: opacity .4s ease, color .4s ease; }
.page-view-project-image .image-holder .img-nav:active, .page-view-project-image .image-holder .img-nav:hover { text-decoration: none; opacity: 1; color: #FFF; }
.page-view-project-image .image-holder .img-nav span { font-size: 36px; display: inline-block; padding: 20px; }
.page-view-project-image .image-holder .img-nav-prev { left: 0; background: linear-gradient(to left,rgba(64,64,64,0.0),rgba(64,64,64,0.4)); }
.page-view-project-image .image-holder .img-nav-next { right: 0; background: linear-gradient(to right,rgba(64,64,64,0.0),rgba(64,64,64,0.4)); }
.page-view-project-image .spinner-holder { text-align: center; padding: 100px 20px 50px; }
.page-view-project-image .spinner-holder img { max-width: 100%; }
.page-contact .alert-email-sent { padding: 30px; margin: 20px; }



/* Styles for smart-phones and tablets */
@media (max-width: 767px)
{
	body { padding-top: 70px; }
	.navbar { position: fixed; top: 0; right: 0; left: 0; z-index: 1030; background-color: white; border-width: 0 0 1px; border-radius: 0; }
  .navbar-toggle .icon-bar { height: 4px; background-color: #000; transition: background-color 1s ease; }
  .navbar-toggle:hover .icon-bar { background-color: #444; }

	.navbar-text { font-size: 36px; text-transform: uppercase; margin-top: 4px; display: inline-block; }
	.navbar-nav { font-size: 120%; }

	img.responsive { margin: 0 auto; }

	.page-home .main-img-holder { margin: 0px 20px 10px; }
	.page-projects ul > li:not(:first-child) { margin-top: 15px; }
	.page-view-project ul.thumbs-group li { text-align: center; }
	.page-view-project ul.thumbs-group li a img { width: 100%; }
	.page-view-project-image .image-holder .img-nav { opacity: 0.8; }
	.page-view-project-image .image-holder .img-nav span { font-size: 36px; padding: 7px; }
	.page-links ul { margin-left: 10px; }
}


/* Styles for larger screens (computers) */
@media (min-width: 768px)
{
  .navbar-header, .navbar-brand, .navbar-text { float: none; text-align: center; }
  .navbar-text { display: inline-block; padding: 3px 20px; font-size: 130%; letter-spacing: 1px; font-weight: bold; text-transform: uppercase; }
  .navbar-collapse.collapse { text-align: center; }
  .navbar-nav { float: none; margin: 0 auto; display: inline-block; border-top: 1px solid #000; border-bottom: 1px solid #000; }
	.navbar-nav > li { float: none; display: inline-block; margin-left: -2px; margin-right: -2px; }
	.navbar-nav > li > a { display: inline-block; text-align: center; padding: 10px 25px; transition: background-color .6s ease; }

	h1, h2, h3 { text-align: center; }
	.alert strong { display: block; }

	.page-home .main-img-holder { margin: 20px; }
	.page-projects ul > li { float: left; }
	.page-projects ul > li a { margin: 10px; }
	.page-projects ul > li img { height: 250px; opacity: 0.8; }
	.page-projects ul > li img:hover { opacity: 1; }
	.page-view-project ul.thumbs-group:after { display: block; content: " "; clear: both; }
	.page-view-project ul.thumbs-group li { float: left; }
	.page-view-project ul.thumbs-group li a:hover span { opacity: 1; }
	.page-view-project ul.thumbs-group li a img { height: 250px; opacity: 0.8; }
	.page-view-project ul.thumbs-group li a img:hover { opacity: 1; }
	.page-links ul { text-align: center; }
	.page-links ul img { display: block; margin: 0 auto; max-width: 50%; }
}


